{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
<form action="{% url 'edit' %}" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>
                <div class="input-group flex-nowrap">
                    <intput type="hidden" name="h_title" value="{{title}}"></intput>
                    <input type="text" name ="title" class="form-control" value="{{ title }}" placeholder="Title" aria-label="Username" aria-describedby="addon-wrapping" readonly>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-floating">
                    <textarea name="content" class="form-control"placeholder="Markdown content here" id="floatingTextarea2" style="height: 600px; width: 1000px">{{ content }}</textarea>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="submit" class="submit_button" value="Submit">
            </td>
            
        </tr>
    </table>
</form>
{% endblock %}