{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
<form action="" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>
                <label>Title</label>
            </td>
        </tr>
        <tr>
            <td>
                <intput type="hidden" name="h_title" value="{{title}}">
                <input type="text" name="title" value="{{title}}" readonly> 
            </td>
        </tr>
        <tr>
            <td>
                <label>Content</label>
            </td>
        </tr>
        <tr>
            <td>
                <textarea name="content" id="content" value="{{content}}">{{content}}</textarea>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="save" value="Save">
            </td>
            
        </tr>
    </table>
</form>
{% endblock %}