{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
<form action="{% url 'create' %}" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>
                <label class="n_p_label">Title</label>
            </td>
        </tr>
        <tr>
            <td>
                <div class="input-group flex-nowrap">
                    <input type="text" name ="title" class="form-control" placeholder="Title" aria-label="Username" aria-describedby="addon-wrapping">
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <label class="n_p_label">Content</label>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-floating">
                    <textarea name="content" class="form-control" placeholder="Markdown content here" id="floatingTextarea2" style="height: 600px; width: 1000px"></textarea>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="submit" class="submit_button" value="Save">
            </td>
            
        </tr>
    </table>
</form>
{% endblock %}